@import '../../styles/base';

.home {
  position: relative;
  &__player-scene {
    width: 100vw;
    height: 100vh;
    color: white;
    & canvas {
      //position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      //color: purple;
      //overflow: hidden;
      //background-image: url(../../assets/images/callasto_neon.jpg); 
      //background-size: cover;
      //background-position: center;
      //overflow: visible;
      //color: #606063;
        & > div {
          z-index: 10000000;
        }
      }
  }
  &__img {
    //position: fixed;
    width: 100vw;
    height: 100vh;
  }
  &__content-container {
    position: relative;
    top: 0;
  }
  &__title {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1rem;
    width: 100%;
    opacity: 0;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 1.75rem;
    color: white;
    @include tablet {
      font-size: 2rem;
      line-height: 2.75rem
    }
  }
}
.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

//.canvas > div {
//  z-index: 1;
//}

.loading {
  padding: 10px;
  transform: translate3d(-50%, -50%, 0);
}

//#root {
//  width: 100vw;
//  height: 100vh;
//  overflow: hidden;
//}

.injectHTML {
  //padding-top: 10px;
  //transform: translate3d(200%, 0, 0);
  //text-align: right;
  color: black;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  position: relative !important;
  //text-align: left;
  padding-left: 2rem;
}
.injectHTML__box {
  width: 25px;
  height: 25px;
  background-color: red;
}