@import '../../styles/base';

.home {
  position: relative;
  &__player-scene {
    width: 100vw;
    height: 100vh;
    color: white;
    & canvas {
      width: 100%;
      height: 100%;
      background-color: black;
      overflow: visible;
    }
    & canvas > div {
      z-index: 10000000;
    }
  } 
  &__img {
    width: 100vw;
    height: 100vh;
  }
  &__content-container {
    position: relative;
    top: 0;
  }
  &__title {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1rem;
    width: 100%;
    opacity: 0;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 1.75rem;
    color: white;
    @include tablet {
      font-size: 2rem;
      line-height: 2.75rem
    }
  }
}
.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.loading {
  padding: 10px;
  transform: translate3d(-50%, -50%, 0);
}