@import '../../styles/base';

.header {
  z-index: 6;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  &__links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    //width: 50%;
  }
  &__link {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    transition: .3s ease;
    & span {
      overflow: initial;
      font-size: 1.9rem;
      margin-left: 0.25rem;
      display: inline-block;
      transform: rotate(315deg);
      
    }
    &:hover {
      color: #53e0b3;
    }
  }
}

.selected {
  text-decoration: underline;
  color: #53e0b3;;

}