@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  //overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

#root {
  overflow: auto;
  padding: 0px;
}

a:hover {
  color: #53e0b3;
}

::selection {
  background: #53e0b3; //#D40749 or black
  color: white;
}   