@import url("https://fonts.googleapis.com/css?family=News+Cycle&display=swap");
//:root {
//  font-size: 20px;
//}
*,
html,
body {
  margin: 0;
  padding: 0;
  //background: #ffffff;
  color: #FFFFFF; //#606063
  overflow: hidden;
  font-family: "News Cycle", sans-serif;
  box-sizing: border-box;
}